.grid-section {
    position: absolute;
    display: grid;
    grid-template-columns: 265px 1fr;
    top: 100%;
    width: 100%;
}
.filter-section-out {
    background-color: #2C2437;
}
.cards-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 40px;
    margin: 30px 0;
}

/* Landscape queries */
@media (max-width: 1325px) {
    .cards-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1080px) {
    .cards-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 790px) {
    .cards-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Portrait queries */
@media (orientation: portrait) and (max-width: 540px) {
    .grid-section {
        grid-template-columns: 40px 1fr;
    }
}
